<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>Example Usage:</h2>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <div>
        <h2>Follow me on</h2>
      </div>
      <div style="margin-top: 10px;">
        <a href="https://www.instagram.com" style="margin: 0 10px; text-decoration: none; color: #E4405F;">
          <i class="fa fa-instagram"></i> Instagram
        </a>
        <a href="https://github.com" style="margin: 0 10px; text-decoration: none; color: #333;">
          <i class="fa fa-github"></i> GitHub
        </a>
        <a href="https://linkedin.com" style="margin: 0 10px; text-decoration: none; color: #0077B5;">
          <i class="fa fa-linkedin"></i> LinkedIn
        </a>
      </div>
      <div style="margin-top: 10px;">
        <p>
          By <a href="https://www.freecodecamp.org/" style="text-decoration: none; color: #17a2b8;">freeCodeCamp.org</a>
        </p>
      </div>
    </div>
    
  </body>
</html>
