/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

h3 {
  margin-top: 30px;
}

hr {
	margin: 25px;
}


.footer {
	background-color: #ddd;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
  }
  .footer a {
	margin: 0 10px;
	text-decoration: none;
  }
  .footer i {
	margin-right: 5px;
  
code {
  font-family: monospace;
  color: black;
  background-color: #fff;
}

ul {
	list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}

a {
	color: #2574A9;
}
